body {
  background-image: url('src/assets/background.jpeg'); /* Change to local file path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh; /* Ensures body covers the entire viewport */
  margin: 0; /* Removes default body margin */
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Ensures the overlay covers the full viewport */
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: -1;
}

/* Scrollbar styles for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #101840; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8); /* Color of the thumb on hover */
}

/* Scrollbar styles for Firefox */
* {
  scrollbar-width: thin; /* Makes the scrollbar thin */
  scrollbar-color: rgba(255, 255, 255, 0.5) #101840; /* Thumb color and track color */
}
